<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Mektup Ayarları</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Mektup</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Default box -->
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <!-- form start -->
            <form method="post" action="/mektup-ayarlari">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Mektup</label>
                  <textarea
                    type="text"
                    name="yazi"
                    class="form-control"
                    placeholder="<%= yazi %>"
                    value="<%= yazi %>"
                    rows="5"
                    required
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Yazar</label>
                  <input
                    type="text"
                    name="yazar"
                    class="form-control"
                    placeholder="<%= yazar %>"
                    value="<%= yazar %>"
                    maxlength="20"
                    required
                  />
                </div>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="check"
                    value="0"
                    id="exampleCheck1"
                    required
                  />
                  <label class="form-check-label" for="exampleCheck1"
                    >Değişiklik yapmak istiyorum</label
                  >
                </div>
              </div>

              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Değiştir</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
